.text {
  font-family: "Montserrat", "sans-serif";
  font-size: 90px;
  font-weight: 600;
  line-height: 70px;
}
.qoute {
  font-family: "Montserrat", "sans-serif";
  font-size: 80px;
  font-weight: 600;
  line-height: 80px;
}
