@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0px;
  margin: 0;
  font-size: 14px;
  background-color: #1e2124;
  color: #f8f8f8;
  font-weight: 500;
  scroll-behavior: smooth;
}

ul {
  padding: 0px;
  margin: 0px;
}
ul > li {
  list-style: disc;
}
li span {
  position: relative;
  left: -10px;
}
a,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a.clickable-anchor {
  cursor: pointer;
}
p {
  font-size: 14px;
  margin: 0;
}
.project-description {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
