.container {
  background-image: url(/src/assets/parallax/background2.jpg);
  background-size: cover;
  height: 800px;
  position: relative;
}

.text_container {
  width: 100%;
  height: 100%;
  font-family: "Proxima Nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji";
  cursor: default;
  text-align: center;
  padding: 50px;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}
